@charset "UTF-8";

.button {
  background-color: #6f49d2; 
  border: none;
  color: #e876e8;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Audiowide", sans-serif;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #e876e8; 
  color: black; 
  border: 2px solid #6f49d2;
}

.button1:hover {
  background-color: #6f49d2;
  color: white;
}

.flex-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

p.tabella {
  text-align: center;
  margin: 10px 0;
  font-family: "Audiowide", sans-serif;
  color: #cae2fb;
}