<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Randomico</display-name>
    <servlet-name>Randomico</servlet-name>
    <servlet-class>it.cefi.Servlet.Randomico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Randomico</servlet-name>
    <url-pattern>/Randomico</url-pattern>
  </servlet-mapping>
  <display-name>ProgettoPippo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DatiRandom</display-name>
    <servlet-name>DatiRandom</servlet-name>
    <servlet-class>it.cefi.Servlet.DatiRandom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatiRandom</servlet-name>
    <url-pattern>/DatiRandom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadFile</display-name>
    <servlet-name>ReadFile</servlet-name>
    <servlet-class>it.cefi.readFiles.ReadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadFile</servlet-name>
    <url-pattern>/ReadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Vincitore</display-name>
    <servlet-name>Vincitore</servlet-name>
    <servlet-class>it.cefi.vincitore.Vincitore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vincitore</servlet-name>
    <url-pattern>/Vincitore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecordsServlet</display-name>
    <servlet-name>RecordsServlet</servlet-name>
    <servlet-class>it.cefi.RecordsServlet.RecordsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordsServlet</servlet-name>
    <url-pattern>/RecordsServlet</url-pattern>
  </servlet-mapping>
</web-app>